/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/* UTILITY */
.container {
     max-width: 70%;
    margin: 0 auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.margin-top{
    margin-top: 1.3%;   
}
.mr {
    margin-right: 10px;  
}

.mb { margin-bottom: 1.3%;
     

}
 .margin-bottom {
     margin-bottom: 20px;
 }

.padding {
    padding-left: 10px;
    padding-right: 10px;
}

.color {
    color: rgb(184, 183, 183) ;
}

h4 {
    color: black;
}

 /* HEADER */


.logo {
    display: inline-block;
}

.logo img {
    width: 165px ;
}

.menù li {
    /* così mi toglie già i pallini */
    display: inline-block;
    margin-right: 12px;

}

.menù li a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(184, 183, 183) ;
    
}
 /* dare l'interazione dopo la a con HOVER */
.menù li a:hover {
 color: black;
}


/* MAIN SECTION */
/* SECTION 1 */
.section-1 {
  height: 100%;
 position: relative;
 
}

.banner img {
     width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    
}


.text {
    position: absolute;
    bottom: 166px;
    left: 60px;
    width: 510px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}


/* SECTION 2 + SIDEBAR */
.sidebar,
.main-content-2

 {
    float: left;
}

.main-content-1 {  
    height: 58px; 
    text-transform: uppercase; 
}

.sidebar {  
    height: 355px;
    width: 20%;
    color: rgb(184, 183, 183)
}

.main-content-2 {  
    height: 355px;
    width: 58%;
    color: rgb(184, 183, 183)
}

.banner-2 {
    position: relative;
    height: 205px;
    border-radius: 10px;
    overflow: hidden;
}

.banner-2 img {
    width: 100%;
    height: 100%;
    filter: brightness(80%)  
}
/* FOOTER */
.footer {
   width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom:15px;
    text-align: center;
}