/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* UTILITY */
.container {
    width: 70%;
    margin: 0 auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.margin-top{
    margin-top: 1.3%;   
}
.mr {
    margin-right: 13px;  
}

.mb { margin-bottom: 1.3%;
     

}
 .margin-bottom {
     margin-bottom: 20px;
 }

.padding {
    padding-left: 10px;
    padding-right: 10px;
}

.bg {
    background: rgb(14, 82, 218);
}

 /* HEADER */
header {
    background: #f03994;
    height: 75px;
    
    
    
}

.main-menù  li {
    display: inline-block;
    padding-right: 10px;
    
}


/* MAIN SECTION */
/* SECTION 1 */
.section-1 {
    background: yellow;
    height: 355px;
    
    
}
/* SECTION 2 + SIDEBAR */
.sidebar,
.main-content-2


 {
    float: left;
}

.main-content-1 {
    background: skyblue;
    height: 58px;  
    
}

.sidebar {
    background: skyblue;
    height: 355px;
    width: 20%;
}

.main-content-2 {
    background:  skyblue;
    height: 355px;
    width: 58%;
}


/* FOOTER */
footer {
    background: rgb(129, 20, 129);
    height: 30px;
    margin-top: 6px;
    margin-bottom:15px ;
    
}