/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/* UTILITY */
.container {
     max-width: 50%;
     height: 50%;
    margin: 0 auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.margin-top{
    margin-top: 1.3%;   
}
.mr {
    margin-right: 13px;  
}

.mb { margin-bottom: 1.3%;
     

}
 .margin-bottom {
     margin-bottom: 20px;
 }

.padding {
    padding-left: 10px;
    padding-right: 10px;
}

.color {
    color: rgb(184, 183, 183) ;
}

 /* HEADER */


.logo {
    display: inline-block;
}

.logo img {
    width: 165px ;
}

.menù li {
    /* così mi toglie già i pallini */
    display: inline-block;
    margin-right: 12px;

}

.menù li a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(184, 183, 183) ;
    
}
 /* dare l'interazione dopo la a con HOVER */
.menù li a:hover {
 color: black;
}


/* MAIN SECTION */
/* SECTION 1 */
.section-1 {
  width: 100%;
 position: relative;
 
}

.banner img {
    
    width: 100%;
    display: block;
    object-fit: contain;
    border-radius: 15px;
    background-position: 23%;
}


.text {
    position: absolute;
    bottom: 104px;
    left: 54px;
    width: 365px;
    font-size: 14px;
    
    color: rgb(255, 255, 255);
}


/* SECTION 2 + SIDEBAR */
.sidebar,
.main-content-2


 {
    float: left;
}

.main-content-1 {
    
    height: 58px; 
    text-transform: uppercase; 
    color:;
    
}

.sidebar {
    background: skyblue;
    height: 355px;
    width: 20%;
}

.main-content-2 {
    background:  skyblue;
    height: 355px;
    width: 58%;
}


/* FOOTER */
footer {
    background: rgb(129, 20, 129);
    height: 30px;
    margin-top: 6px;
    margin-bottom:15px ;
    
}